.numberInput {
    border: 2px solid var(--accent-color);
    padding: var(--spacing2) var(--spacing2);
    background-color: var(--bg-light);
    display: flex;
    align-items: center;
    gap: var(--spacing3);
    align-self: center;
    transition: all 300ms ease-in-out;
}

.numberInput:hover {
    border-radius: var(--border-radius2);
}

.numberInput > button {
    width: 2em;
    height: 2em;
    border-radius: var(--border-radius1);
    border: 2px solid var(--accent-color);
    background-color: transparent;
    transition: all 300ms ease-in-out;
}

.numberInput > button:hover {
    background-color: var(--accent-color);
    color: var(--bg-light);
    border-radius: var(--full-circle);
    cursor: pointer;
}

.numberInput > input {
    font: var(--p);
    height: 2em;
    margin: auto;
    flex: 1;
    max-width: 80px;
    background-color: transparent;
    border: none;
    outline: none;
    text-align: center;
}