.productCard {
    padding: var(--spacing3);
    text-align: center;
    transition: all 300ms ease-in-out;
    display: flex;
    flex-direction: column;
    gap: var(--spacing3);
    border: 2px solid var(--bg);
    will-change: transform;
}

.productCard:hover {
    border: 2px solid var(--accent-color);
    border-radius: var(--border-radius2);
    transform: scale(1.02);
}

.imageContainer {
    width: 80%;
    height: auto;
    margin: auto;
    aspect-ratio: 4/3;
    background-color: var(--bg);
    border-radius: var(--border-radius2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageContainer img {
    width: 90%;
    height: 90%;
    object-fit: contain;
}

.addButton {
    border: none;
    background-color: var(--bg-dark);
    padding: var(--spacing3) var(--spacing4);
    font: var(--p);
    font-weight: 600;
    transition: all 300ms ease-in;
    align-self: center;
}

.addButton:hover {
    cursor: pointer;
    border-radius: var(--border-radius2);
    background-color: var(--accent-color);
    color: var(--bg-light);
}

.price {
    margin-top: auto;
}