.cartPage {
    padding: var(--spacing4) var(--spacing6);
    display: flex;
    gap: var(--spacing4);
}

.cartItemContainer {
    display: flex;
    flex-direction: column;
    gap: var(--spacing3);
    flex-basis: 70%;
    flex-shrink: 0;
    flex-grow: 0;
}

.totalContainer {
    flex-basis: 30%;
    flex-grow: 0;
    flex-shrink: 0;
    align-self: flex-start;
    display: flex;
    align-items: flex-start;
    gap: var(--spacing3);
    border: 2px solid var(--bg-dark);
    padding: var(--spacing5) var(--spacing6);
    border-radius: var(--border-radius2);
}

.totalContainer > dl {
    display: grid;
    width: 100%;
    grid-template-columns: 3fr 1fr;
    font: var(--bold-p2);
}

.totalContainer > dl > dd {
    text-align: end;
}