.mainHeader {
    display: flex;
    width: 90%;
    max-width: 1080px;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing4) 0;
    margin: 0 auto;
}

.navigation {
    display: flex;
    align-items: center;
    gap: var(--spacing6);
}

.navItems {
    display: flex;
    align-items: center;
    gap: var(--spacing5);
}