:root {
    --stripe-color-one: var(--accent-color);
    --stripe-color-two: var(--bg);
    --animation-duration: 20000ms;
}

.mainHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100vw;
    padding: var(--spacing4) var(--spacing6);
    margin: 0 auto;
    position: sticky;
    top: 0px;
    background-color: var(--bg-dark);
    overflow-x: hidden;
    z-index: 1;
}

.navigation, .navigation > a {
    display: flex;
    align-items: center;
    gap: var(--spacing6);
}

.navItems {
    display: flex;
    align-items: center;
    gap: var(--spacing5);
}

.loading::after {
    content: '';
    position: absolute;
    bottom: 0px;
    height: 3px;
    background: repeating-linear-gradient(
        45deg,
        var(--stripe-color-one),
        var(--stripe-color-one) 10px,
        var(--stripe-color-two) 10px,
        var(--stripe-color-two) 20px
    );
    width: 200%;
    left: 0px;
    animation: loop linear var(--animation-duration) infinite;
}

@keyframes loop {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}

.mainHeader a {
    color: var(--text);
    font: var(--bold-p2);
    position: relative;
    transition: all 300ms ease-in-out;

    &::before {
        content: '';
        position: absolute;
        height: 3px;
        width: 0%;
        bottom: -5px;
        background-color: var(--accent-color);
        transition: all 300ms ease-in-out;
    }

    &:hover::before {
        width: 100%;
    }

    &:hover {
        color: var(--accent-color);
    }
}

.navigation :global(.active)::before {
    width: 100%;
}