@font-face {
    font-family: Roboto;
    src: url(./src/assets/fonts/Roboto-VariableFont_wdth,wght.ttf);
}

:root {
    --hue: 0;
    --tertiary-hue: calc(var(--hue) + 60);
    --accent-hue: calc(var(--hue) + 300);

    --bg-dark: hsl(var(--hue), 50%, 80%);
    --bg: hsl(var(--hue), 50%, 90%);
    --bg-light: hsl(var(--hue), 50%, 95%);
    --text: hsl(var(--hue), 50%, 15%);
    --text-muted: hsl(var(--hue), 50%, 30%);

    --tertiary-color: hsl(var(--tertiary-hue), 80%, 20%);
    --accent-color: hsl(var(--accent-hue), 80%, 20%);

    --ff: "Roboto", serif;

    --p: 1rem/1.5em var(--ff);
    --bold-p: 600 var(--p);
    --bold-p2: 600 1.2rem/1.5em var(--ff);

    --h1: 600 3rem/1.2em var(--ff);
    --h2: 600 2rem/1.2em var(--ff);
    --spacing1: 4px;
    --spacing2: 8px;
    --spacing3: 16px;
    --spacing4: 20px;
    --spacing5: 40px;
    --spacing6: 80px;
    --spacing7: 160px;

    --border-radius1: 10px;
    --border-radius2: 30px;
    --full-circle: 50%;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
  font: var(--p);
  background: var(--bg-light);
  color: var(--text);
}

h1 {
  font: var(--h1);
}

h2 {
  font: var(--h2);
  margin: var(--spacing2) 0;
}

p {
  margin: var(--spacing2) 0;
}

a {
  color: var(--text);
  text-decoration: none;
}

.reset-list {
  list-style-type: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}